/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-post-grid {
	border: 1px dotted #f00;
}
.accordion {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-header {
    padding: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7f7f7;
}

.accordion-header:hover {
    background: #eee;
}

.accordion-group {
    display: flex;
    
}

.accordion-body {
    padding: 15px;
    background: #fff;
    border-top: 1px solid #ddd;
}

// .arrow {
//     // display: inline-flex;
//     transition: transform 0.3s ease;
// }

/* Rotate icon when open */
// .arrow.open {
//     transform: rotate(180deg);
// }

